@import (less) 'https://raw.githubusercontent.com/necolas/normalize.css/3.0.1/normalize.css';

@inner-breakpoint: 768px;

// Appearance

html {
  color: darken(#fff, 50%);

  a, a:visited, a:active {
    text-decoration: none;
    color: #26478A;
  }
  
  a:hover {
    color: lighten(#26478A, 10%);
  }
}

header {
  color: #fff;
  h1 {
    font-size: 1.5em;
  }

}

nav {
  ul {
    list-style: outside none none;
    padding-left: 0px;
    line-height: 2em;
  }
}

footer {
  border-top: solid #ccc;
  padding-top: 3pt;
}

cite {
  font-style: normal;
}
cite:before {
  content: "[";
}
cite:after {
  content: "]";
}

ol.biblio {
counter-reset: biblist;
}
ol.biblio li {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
  text-indent: -2em;
}
ol.biblio li:before {
  content: "[" counter(biblist)"]  ";
  counter-increment: biblist;
}

.post {
  p img {
    text-align: center;
  }
  img {
    border-radius: 5px;
    border: 2px solid #ccc;

    @media (max-width: @inner-breakpoint) {
      border-radius: 0px;
      border: none;
      width: 100%;
    }
  }
}


// Layout

@gutter-width: 15px;

.make-row() {
  margin-left: auto;
  margin-right: auto;
  
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.column(@column-width, @grid-breakpoint: 480px) {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: @gutter-width;
  width: @column-width;

  @media(max-width: @grid-breakpoint) {
    width: 100%;
    padding-left: @gutter-width;
  }
}

.left-most() {
  padding-left: @gutter-width;
}

body {
  .make-row();

  header { 
    .column(100%);
    .left-most();
    background: #26478A;
    margin-bottom: 1em;
  }

  footer {
    .column(100%);
    .left-most();
  }
  nav {
    .column(25%);
    .left-most();
  }

  main {
    .column(50%);

    .make-row();

    ul#updates {
      .column(100%, @inner-breakpoint);
    }

    div.area {
      .column(50%, @inner-breakpoint);
    }
  }

  div#others {
    .column(25%);
  }
}
