<!DOCTYPE HTML>
<html>
<head>
<title>$title$ - Allan Espinosa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,
      maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<header>
  <h1>
    Allan Espinosa  <br />
    <small><a href="/">http://aespinosa.github.io</a></small>
  </h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</header>

$body$

<footer>
  Last updated 2014-02-22
</footer>
</body>
</html>

<!-- vim:set sts=4 -->
