<!DOCTYPE HTML>
<html>
<head>
<title>$title$ - Allan Espinosa</title>
<meta name="viewport" content="width=device-width, initial-scale=1,
      maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<header>
  <h1>
    Allan Espinosa  <br />
    <small>http://aespinosa.github.io</small>
  </h1>

  <ul>
    <li><a href="/blog/posts">Blog</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="/">About</a></li>
  </ul>
</header>

$body$

<footer>
  Last updated 2012 December 16
</footer>
</body>
</html>

<!-- vim:set sts=4 -->
