<!DOCTYPE HTML>
<html>
<head>
<title>$title$ - Allan Espinosa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,
      maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>

<header>
  <h1> Allan Espinosa </h1>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/presentations.html">Presentations and Publications</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
<main>
$body$
</main>

<div id="others">
</div>

<footer>
  Last updated 2015-01-25
</footer>

</body>
</html>

<!-- vim:set sts=4 -->
